<div class="row">

    <div class="form-floating col-md-4 col-sm-6 mb-3">
        <input type="text" class="form-control" id="searchPlace" placeholder="searchPlace" [(ngModel)]="searchPlace"
            (input)="applyFilters()">
        <label class="ms-2" for="searchPlace">Search by Place</label>
    </div>

    <div class="form-floating col-md-4 col-sm-6 mb-3">
        <input type="text" class="form-control" id="area" placeholder="area" [(ngModel)]="area"
            (input)="applyFilters()">
        <label class="ms-2" for="area">Area</label>
    </div>

    <div class="form-floating col-md-4 col-sm-6 mb-3">
        <input type="text" class="form-control" id="nearby" placeholder="nearby" [(ngModel)]="nearbyName"
            (input)="applyFilters()">
        <label class="ms-2" for="nearby">Nearby Location(Name)</label>
    </div>

    <div class="form-floating col-md-4 col-sm-6 mb-3">
        <input type="text" class="form-control" id="nearby" placeholder="nearby" [(ngModel)]="nearbyType"
            (input)="applyFilters()">
        <label class="ms-2" for="nearby">Nearby Type(Hospital, ..)</label>
    </div>

    <div class="form col-md-4 col-sm-6 mb-3">
        <label class="ms-2 text-center" for="minBedrooms">Bedrooms</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Min" aria-label="Min" [(ngModel)]="min_bedrooms"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Equal" aria-label="Equal" [(ngModel)]="equal_bedrooms"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Max" aria-label="Max" [(ngModel)]="max_bedrooms"
                (input)="applyFilters()">
        </div>
    </div>

    <div class="form col-md-4 col-sm-6 mb-3">
        <label class="ms-2 text-center" for="minBedrooms">Bathroom</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Min" aria-label="Min" [(ngModel)]="min_bathrooms"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Equal" aria-label="Equal" [(ngModel)]="equal_bathrooms"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Max" aria-label="Max" [(ngModel)]="max_bathrooms"
                (input)="applyFilters()">
        </div>
    </div>

    <div class="form col-md-4 col-sm-6 mb-3">
        <label class="ms-2 text-center" for="minBedrooms">Floors</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Min" aria-label="Min" [(ngModel)]="min_floor"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Equal" aria-label="Equal" [(ngModel)]="equal_floor"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Max" aria-label="Max" [(ngModel)]="max_floor"
                (input)="applyFilters()">
        </div>
    </div>

    <div class="form col-md-4 col-sm-6 mb-3">
        <label class="ms-2 text-center" for="minBedrooms">Likes</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Min" aria-label="Min" [(ngModel)]="min_likes"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Equal" aria-label="Equal" [(ngModel)]="equal_likes"
                (input)="applyFilters()">
            <input type="text" class="form-control" placeholder="Max" aria-label="Max" [(ngModel)]="max_likes"
                (input)="applyFilters()">
        </div>
    </div>

</div>
