<app-property-filter (filtersChanged)="applyFilters($event)"></app-property-filter>
<div *ngIf="properties" class="container card p-3 mt-5">
    <h2 class="card-header d-flex justify-content-between align-items-center">
        <button class="btn btn-primary ml-2" routerLink="create">Add property</button>
        <span class="mx-auto">Properties</span>
    </h2>
    <div class="card-body">
        <div class="row">
            <div *ngFor="let property of properties" class="col-md-6 col-lg-4 mt-3 ">
                <app-property-view [property]="property" >
                    
                </app-property-view>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-center" *ngIf="nextPageNumber">
        <button (click)="loadNextPage()" class="btn btn-secondary" >Show More</button>
    </div>
    
  </div>
  