<app-add-nearby (refresh)="this.fetchNearbyPlaces()"></app-add-nearby>

<div class="d-flex justify-content-center mt-5" *ngIf="propertyForm">
  <form [formGroup]='propertyForm' (ngSubmit)='submit()'>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Place" formControlName='place'>
      <label for="">Place</label>
      <div *ngIf="propertyForm.get('place')?.invalid && propertyForm.get('place')?.touched" class="text-danger">
        Place is required
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Area" formControlName='area'>
      <label for="">Area</label>
      <div *ngIf="propertyForm.get('area')?.invalid && propertyForm.get('area')?.touched" class="text-danger">
        Area is required
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="file" class="form-control" placeholder="Image"
        (change)="uploadFile($event, propertyForm.get('image'), propertyForm.get('imageUrl'))">
      <label for="">Image</label>
      <div class="container card p-3 my-3" *ngIf="propertyForm.get('imageUrl')?.value" #propertyImage>
        <img [src]="propertyForm.get('imageUrl')?.value" class="image-fluid" style="max-width: 300px;">
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" placeholder="Number of Bedrooms" formControlName='no_of_bedrooms'>
      <label for="">Number of Bedrooms</label>
      <div *ngIf="propertyForm.get('no_of_bedrooms')?.invalid && propertyForm.get('no_of_bedrooms')?.touched"
        class="text-danger">
        No of Bedrooms required and should be greater than zero
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" placeholder="Number of Bathrooms" formControlName='no_of_bathrooms'>
      <label for="">Number of Bathrooms</label>
      <div *ngIf="propertyForm.get('no_of_bathrooms')?.invalid && propertyForm.get('no_of_bathrooms')?.touched"
        class="text-danger">
        No of Bathroom required and should be greater than zero
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" placeholder="Number of Floors" formControlName='no_of_floor'>
      <label for="">Number of Floors</label>
      <div *ngIf="propertyForm.get('no_of_floor')?.invalid && propertyForm.get('no_of_floor')?.touched"
        class="text-danger">
        No of Floors required and should be greater than zero
      </div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Location Link" formControlName='url'>
      <label for="">Location Link</label>
      <div *ngIf="propertyForm.get('url')?.invalid && propertyForm.get('url')?.touched" class="text-danger">
        location Link must be a link
      </div>
    </div>
    <ng-container *ngFor="let nearby of nearbyPlaces">
      <input type="checkbox" class="btn-check" [id]="nearby.id" autocomplete="off"
        (change)="toggleNearbySelection(nearby.id)" [checked]="selectedNearbyIds.includes(nearby.id)">
      <label class="btn btn-outline-success mb-2" [for]="nearby.id">{{ nearby.name|titlecase }}({{nearby.type|titlecase}}) at
        {{nearby.location|titlecase}}</label>
      <br>
    </ng-container>
    <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#addnearby">Add
      Nearby</button>
    <button class="btn btn-primary">Submit</button>
  </form>
</div>